<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-8">


<%= simple_form_for @post do |f| %>

  <%= f.collection_select(:category_id, Category.all, :id, :name, {prompt: "Choose a category" }) %>
  <%= f.input :title %>
  <%= f.input :content, size: "60x12", placeholder: "Type the post text here" %>
  <%= f.button :submit %>

<% end %>
</div>
</div>